@model IEnumerable<TPFinal_PNT1.Models.Tratamiento>

@{
    ViewData["Title"] = "Listado de tratamientos asignados";
}

<div class="container">
    <h1>Lista de tratamientos asignados</h1>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().Fecha)</th>
                <th>Paciente</th>
                <th>Profesional</th>
                <th>Tipo de Tratamiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                    <td>@Html.DisplayFor(modelItem => item.Paciente.NombreCompleto)</td>
                    <td>@Html.DisplayFor(modelItem => item.Profesional.NombreCompleto)</td>
                    <td>@Html.DisplayFor(modelItem => item.Tipo)</td>
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmCancelModal" data-tratamientoid="@item.Id">Cancelar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a asp-action="RegistrarTratamiento">Registrar nuevo tratamiento</a>
    </div>
</div>

<div class="modal fade" id="confirmCancelModal" tabindex="-1" aria-labelledby="confirmCancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmCancelModalLabel">Cancelar tratamiento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas cancelar este tratamiento?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <form id="cancelForm" asp-action="CancelarTratamiento" method="post">
                    <input type="hidden" name="id" id="tratamientoId" value="" />
                    <button type="submit" class="btn btn-danger">Sí, cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var confirmCancelModal = document.getElementById('confirmCancelModal')
        confirmCancelModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            var tratamientoId = button.getAttribute('data-tratamientoid')
            var modalInput = confirmCancelModal.querySelector('.modal-footer #tratamientoId')
            modalInput.value = tratamientoId
        })
    </script>
}
